.text{
    text-align: center;
    margin-top: 300px;
    color: red;
}

.abdullo{
    text-align:center;
    margin-top: 1
    00px;
    color: #ff0000;
}

form{
    text-align:center;
    margin-top: 1
    00px;
    color: #ff0000;
}

    